# Ignore everything
**

# ... except for dependencies
!Pipfile
!Pipfile.lock

# ... and the modules
!app/
!net/

# ... and static files
!static/favicon.ico
!static/robots.txt

# ... and the model
!model/
