[flake8]
ignore = E203, E266, E501, W503
max-line-length = 120
max-complexity = 18
select = B, C, E, F, W, T4
per-file-ignores = __init__.py:F401
exclude =
  __pycache__,
  .pytest_cache,
  .mypy_cache,
  protopnet,
