[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
fastapi = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
opencv-python-headless = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
uvicorn = {version = "*", extras = ["standard"]}
python-multipart = "*"
boto3 = "*"
slowapi = "*"
firebase-admin = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"
httpx = "*"
pytest-mock = "*"
boto3-stubs = {version = "*", extras = ["ec2"]}

[requires]
python_version = "3.11"
