-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
anyio==3.7.1 ; python_version >= '3.7'
black==23.11.0
boto3-stubs[ec2]==1.29.7
botocore-stubs==1.32.7 ; python_version >= '3.7' and python_version < '4.0'
certifi==2023.11.17 ; python_version >= '3.6'
click==8.1.7 ; python_version >= '3.7'
coverage[toml]==7.3.2 ; python_version >= '3.8'
flake8==6.1.0
h11==0.14.0 ; python_version >= '3.7'
httpcore==1.0.2 ; python_version >= '3.8'
httpx==0.25.2
idna==3.6 ; python_version >= '3.5'
iniconfig==2.0.0 ; python_version >= '3.7'
isort==5.12.0
mccabe==0.7.0 ; python_version >= '3.6'
mypy-boto3-ec2==1.29.5
mypy-extensions==1.0.0 ; python_version >= '3.5'
packaging==23.2 ; python_version >= '3.7'
pathspec==0.11.2 ; python_version >= '3.7'
platformdirs==4.0.0 ; python_version >= '3.7'
pluggy==1.3.0 ; python_version >= '3.8'
pycodestyle==2.11.1 ; python_version >= '3.8'
pyflakes==3.1.0 ; python_version >= '3.8'
pytest==7.4.3
pytest-cov==4.1.0
pytest-mock==3.12.0
sniffio==1.3.0 ; python_version >= '3.7'
types-awscrt==0.19.17 ; python_version >= '3.7' and python_version < '4.0'
types-s3transfer==0.7.0 ; python_version >= '3.7' and python_version < '4.0'
typing-extensions==4.8.0 ; python_version >= '3.8'
